* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body {
    background: #0f172a; /* Azul oscuro espacial */
    color: #f8fafc;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: system-ui, sans-serif;
}

.lab-card {
    background: #1e293b;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
    width: 400px;
}

.highlight { color: #38bdf8; }

#output {
    margin: 2rem 0;
    font-size: 1.2rem;
    line-height: 1.5;
    min-height: 3.6rem; /* Evita que el botón salte al cambiar el texto */
}

button {
    background: #38bdf8;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.1s;
}

button:active { transform: scale(0.95); }

#mensaje-error {
    color: lightcoral; 
    margin-top: 10px;
}
#mensaje-exito {
    color: lightgreen;
}
#resultado-registro {
    margin-top: 20px; 
    border-top: 1px solid #ccc; 
    padding-top: 10px;
}
#frase-caracteres {
    display: block;
}
#numero-caracteres {
    color: white;
}
#formulario-proyecto {
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#nombre, #categoria {
    padding: 5px;
    border-radius: 0.2rem;
}
.radio-group, .check-group {
    background-color: #334766;
    border-radius: 0.2rem;
    padding: 5px 0;
}
.bordeYsombra {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    border: 1px solid #0000005f;
}

ul {
    list-style: none;
    margin: 10px;
}
ul li:last-child {
    margin-top: 5px;
}
